#############################################################################
# unbound-manual
#############################################################################
unbound-manual/

#############################################################################
# OmegaT
#############################################################################
*.bak

